
body {
    display: flex;
    align-items: center; /* Center container vertically */
    justify-content: center; /* Center container horizontally */
}
#Container{
    
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: yellow;
    width: 400px; 
    height: 550px; 
    box-sizing: border-box;
    border-radius: 20px;
}

img{
    width: 300px;
    height: 300px;
    border-radius: 25px;
    -webkit-box-reflect: above 0px
        linear-gradient(transparent,rgba(228, 5, 5, 1))
}
.Buttons{
    width: 9px;
}
