
body {
    display: flex;
    align-items: center; /* Center container vertically */
    justify-content: center; /* Center container horizontally */
}
#Container{
    
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: yellow;
    width: 40%; 
    height: 50%; 
    box-sizing: border-box;
}

img{
    width: 300px;
}
.Buttons{

}
